.form-group.has-error .form-control, .form-group.has-error .input-group-addon {
    border-color: #dd4b39;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-group.has-error label {
    color: #dd4b39;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}