html,
body {
	height: 100%;
	font-family: $base-font;
	font-size: 20px;
	line-height: 1.3;
	color: $default;
	@media (max-width: 1024px) {
		font-size: 18px;
	}
}


section {
	padding: 20px 0;
}


table {
	width: 100%;
	margin: 20px 0;
	font-size: 18px;
	@media (max-width: 1024px) {
		font-size: 16px;
	}

	td {
		padding: 10px;
		border: 1px solid $gray;
		vertical-align: top;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: $heading-font;
	outline: none;
    color: $default-heading;
}

h1,
.h1 {
	font-size: 53px;
	@media (max-width: 1366px) {
		font-size: 40px;
	}
	@media (max-width: 640px) {
		font-size: 30px;
	}
}

h2,
.h2 {
	font-size: 36px;
	@media (max-width: 1366px) {
		font-size: 30px;
	}
	@media (max-width: 1024px) {
		font-size: 26px;
	}
}

h3,
.h3 {
	font-size: 30px;
	@media (max-width: 1366px) {
		font-size: 26px;
	}
	@media (max-width: 1024px) {
		font-size: 24px;
	}
}

h4,
.h4 {
	font-size: 24px;
	@media (max-width: 1024px) {
		font-size: 22px;
	}
}

h5,
.h5 {
	font-size: 22px;
	@media (max-width: 1024px) {
		font-size: 20px;
	}
}

h6,
.h6 {
	font-size: 20px;
	@media (max-width: 1024px) {
		font-size: 18px;
	}
}

p {
	margin: 0;
}



a {
	@extend .transition;
	color: $default-heading;
	text-decoration: none;
}

img {
	max-width: 100%;
}

form {}
input,
textarea {
	outline: none;
	display: inline-block;
	border-radius: 0;
}
textarea {
	height: 220px;
	padding: 15px;
}


button {
	outline: none;
	border-radius: 0;
}

.btn {
	@extend .transition;
	cursor: pointer;
	outline: none;
	display: inline-block;
	padding: 4px 10px 4px;
	border: none;
	background: #3c342a;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
	text-align: center;
	text-decoration: none !important;
}
.btn:hover,
.btn-hover {
	background: $dark-gray;
	color: #fff;
}

.btn-sm {
	min-width: 115px;
	font-size: 14px;
	font-weight: 700;
}
.btn-lg {
	min-width: 300px;
	padding: 14px 15px 10px;
	font-size: 18px;
}

.btn-primary {
	background: $primary;
	&:hover {
		background: darken($primary, 5%);
	}
}

.btn-outline {
	border: 1px solid $dark-gray;
	background: none;
	color: $dark-gray;
	&:hover {
		background: $dark-gray;
		color: #fff;
	}
}


.form-group {
	margin-bottom: 25px;
}


.section-gray {
	background: #eef0f2;
}


.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}