.footer-box {
	margin-top: 50px;
	padding: 20px 0 0;
	background: $dark-gray;
	color: #fff;
	text-align: center;
	a {
		color: inherit;
	}
}

.footer-block {
	margin-bottom: 40px;
	.footer-title {
		margin-bottom: 35px;
		color: #fff;
		text-transform: uppercase;
		@media (max-width: 767px) {
			margin-bottom: 15px;
		}
	}
}

.footer-links {
	@extend .reset-list;
	li {
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}