.header-box {
	padding: 10px 0;
	background: $dark-gray;
	color: #fff;
	a {
		font-size: 18px;
		color: #fff;
		text-decoration: none;
		&:hover {
			color: darken(#fff, 15%);
		}
	}

	.header-inner {
		display: flex;
		align-items: center;
	}

	.header-side-left {
		@media (max-width: 991px) {
			flex: 1 1 auto;
		}
	}
	
	.header-side-center {
		flex: 1 1 auto;
		padding: 0 25px;
		@media (max-width: 991px) {
			display: none;
		}
	}
	.header-side-right {
		text-align: right;
	}
}

.logo-box {
	max-width: 340px;
	margin: 5px 0;
	@media (max-width: 1024px) {
		max-width: 240px;
	}
	@media (max-width: 991px) {
		max-width: 160px;
	}

	.logo-img {
		max-height: 70px;
	}
}

.header-contact-list {
	@extend .reset-list;
	margin: 0 0 25px;
	line-height: 1;
	text-align: center;
	li {
		display: inline-block;
		padding: 0 6px 0 10px;
		border-left: 1px solid #fff;
		&:first-child {
			border-left: none;
		}

		a {
			font-size: 18px;
		}
	}
}

.header-nav {
	.header-nav-list {
		@extend .reset-list;
		display: flex;
	    justify-content: space-around;
		li {
			a {
				font-size: 18px;
				i {
					@extend .h3;
					display: inline-block;
					margin: 0 5px 0 0;
					font-weight: 400;
					color: #a9b0ba;
					vertical-align: middle;
				}
			}
		}
	}
}


.user-actions {
	@extend .reset-list;
	margin-bottom: 25px;
	font-size: 14px;
	line-height: 1;
	@media (max-width: 991px) {
		display: inline-block;
		margin: 0;
		font-size: 18px;
		vertical-align: middle;
	}

	li {
		display: inline-block;
		position: relative;
		@media (max-width: 991px) {
			padding: 0 8px;
		}

		&:before {
			display: inline-block;
			content: '/';
			font-size: 14px;
			padding: 0 4px 0 0;
			@media (max-width: 991px) {
				display: none;
			}
		}
		&:first-child:before {
			display: none;
		}

		a {
			font-size: inherit;
			text-transform: uppercase;
		}
	}

	.action-registration,
	.action-login {
		@media (max-width: 991px) {
			display: none;
		}
	}
	.action-search {
		display: none;
		@media (max-width: 991px) {
			display: inline-block;
		}
	}
}

.form-search-plan {
	@extend .transition;	
	display: flex;
	@media (max-width: 991px) {
		position: absolute;
		z-index: 99;
		top: 0;
		left: 0;
		right: 0;
		transform: translateY(-150px);
		text-align: left;
	}
	&.form-search-plan-active {
		transform: translateY(50px);
	}

	.search-plan--input,
	.search-plan--button {
		height: 30px;
		vertical-align: top;
		@media (max-width: 991px) {
			height: 50px;
		}
	}
	.search-plan--input {
		flex: 1 1 120px;
		min-width: initial;
		padding: 0 5px 0 10px;
		border: none;
		background: #fff;
		font-size: 14px;
		font-weight: 300;
		color: #000;
		::-webkit-input-placeholder {color: #000;}
		::-moz-placeholder          {color: #000;}
		:-moz-placeholder           {color: #000;}
		:-ms-input-placeholder      {color: #000;}
		@media (max-width: 991px) {
			flex: 1 1 auto;
		}
	}
	.search-plan--button {
		flex: 0 0 35px;
		display: inline-block;
		border: none;
		background: $primary;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;
	}
}


.header-toggle {
	display: none;
	position: relative;
	z-index: 102;
	width: 30px;
	min-width: initial;
	padding: 0;
	border: none;
	background: none !important;
	vertical-align: middle;
	@media (max-width: 991px) {
		display: inline-block;
	}

	span {
		@extend .transition;
		display: block;
		height: 2px;
		width: 30px;
		margin: 6px 0;
		background: #fff;
	}
	&.header-toggle-close {
		span {
			position: absolute;
			margin: 0;

			&:nth-child(1) {
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
			}
			&:nth-child(2) {
				display: none;
			}
		}
	}
}

// mobile offcanvas
.mobile-offcanvas {
	@extend .transition;
	opacity: 0;
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	padding: 20px 0;
	background: rgba(#000, .9);
	transform: translateX(100%);
	color: #fff;
	&.mobile-offcanvas-active {
		opacity: 1;
		transform: translateX(0);
	}

	a {
		font-size: 14px;
		color: #fff;
	}

	.offcanvas-header,
	.offcanvas-footer {
		padding: 25px 20px;
		text-align: center;
	}

	.offcanvas-body {
		padding: 10px 20px;
	}

	.offcanvas-actions,
	.offcanvas-contact-list {
		@extend .reset-list;
		li {
			display: inline-block;
			padding: 0 8px;
		}
	}

	.offcanvas-menu-list {
		@extend .reset-list;
		li {
			padding: 8px 0;
		}
	}
}





