.section-hero {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	background: $gray;
	.hero-card {
		position: relative;
		background-position: center;
		background-size: cover;
		background-color: $gray;
		padding-bottom: 38.3%;
		@media (max-width: 640px) {
			padding-bottom: 400px;
		}
	}

	.hero-label {
		position: absolute;
		top: 30px;
		left: 15px;
		@media (max-width: 640px) {
			top: 15px;
		}
	}

	.hero-quote-wrap {
		@extend .overlay-light;
		position: absolute;
		right: 30px;
		bottom: 15px;
		width: 36%;
		max-width: 575px;
		padding: 50px 10px 10px;
		font-weight: 600;
		color: #000;
		text-align: center;
		text-transform: uppercase;
		line-height: 1.17;
		@media (max-width: 640px) {
			left: 15px;
			right: 15px;
			bottom: 15px;
			width: calc(100% - 30px);
		}

		&:before {
			content: "‘‘";
			position: absolute;
		    top: 30px;
			transform: translateX(-50%);
			font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
			font-size: 85px;
			font-weight: 700;
			color: $default;
			line-height: 30px;
			letter-spacing: -2.39px;
		}
		.hero-quote {
			@extend .h5;
			font-weight: 600;
		    line-height: 1.6;
    		margin-bottom: 5px;
		}
		.hero-quote-author {
			@extend .h6;
			margin: 0;
			font-weight: 600;
			line-height: 1.35;
		}
	}
}

.slider-hero {
	overflow: hidden;
	.slick-prev,
	.slick-next {
		@extend .transition;
		z-index: 1;
		width: 60px;
		height: 60px;
		&:before {
			font-family: 'icomoon';
			font-size: 60px;
			@media (max-width: 767px) {
				color: $default;
			}
		}
	}
	.slick-prev {
		left: -50px;
		@media (max-width: 767px) {
			left: 0;
		}

		&:before {
			content: '\f104';
		}
	}
	.slick-next {
		right: -50px;
		@media (max-width: 767px) {
			right: 0;
		}

		&:before {
			content: '\f105';
		}
	}

	&:hover {
		.slick-prev {
			left: 10px;
			@media (max-width: 1024px) {
				left: 0;
			}
		}
		.slick-next {
			right: 10px;
			@media (max-width: 1024px) {
				right: 0;
			}
		}
	}
}

.house-label {
	@extend .reset-list;
	padding: 5px 10px 6px;
	background: $dark-gray;
	line-height: 1;
	li {
		display: inline-block;
		font-size: 14px;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
	}
}
.house-label-lg {
	padding: 2px 30px 7px;
	@media (max-width: 640px) {
		padding-left: 15px;
		padding-right: 15px;
	}

	li {
		font-weight: 400;
		color: #989796;
		&:before {
			content: '/';
			display: inline-block;
			padding: 0 4px 0 0;
		}
		&:first-child:before {
			display: none;
		}

		&.active {
			color: #fff;
		}
	}
}

.main-search {
	padding: 0 0 10px;
	background: #838990;
	.main-search-inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.main-search-content {
			flex: 1 1 auto;
			text-align: center;
		}
		.main-search-aside {
			flex: 0 0 210px;
			@media (max-width: 1366px) {
				flex: 0 0 100%;
				text-align: center;
			}
		}
	}
	
	.advanced-options-link {
		display: inline-block;
		margin: 10px 0;
		font-size: 16px;
		font-weight: 600;
		color: #fff;
		text-transform: uppercase;
	}
}

.form-main-search {
	display: inline-block;
	text-align: left;
	input {
		width: 110px;
		height: 52px;
		min-width: initial;
		padding: 0 12px;
		border: none;
		background: $dark-gray;
		font-size: 18px;
		font-weight: 600;
		color: #fff;
		&::-webkit-input-placeholder {color: #fff;}
		&::-moz-placeholder          {color: #fff;}
		&:-moz-placeholder           {color: #fff;}
		&:-ms-input-placeholder      {color: #fff;}
	}

	button {
		min-width: 150px;
		height: 52px;
		margin: 10px 5px;
	}

	.form-group {
		margin: 10px 0;
		padding: 0 5px;
	}

	.select-custom-wrap {
		&.select-custom-wrap-lg .select {
			width: 206px;
		}
		&.select-custom-wrap-md .select {
			width: 135px;
		}
		&.select-custom-wrap-sm .select {
			width: 112px;
		}
	}
}


.section-best {}
.faq-box {
	margin: 15px 0;
	text-align: left;
	.faq-title {
		color: $primary;
	}
	.faq-description {
		margin: 0;
		font-size: 18px;
		font-weight: 300;
	}
}
.newsletter-box {
	margin: 15px 0;
	text-align: left;
	.newsletter-title {
		font-size: 16px;
		color: $gray;
		text-transform: uppercase;
		span {
			color: $dark-gray;
		}
	}
	.form-newsletter {
		display: inline-block;
		vertical-align: top;
		font-size: 0;
		border: 1px solid $dark-gray;
		input,
		button {
			vertical-align: top;
			min-width: initial;
			height: 30px;
			border: none;
			font-size: 14px;
			color: $default;
		}
		input {
			width: 148px;
			padding: 0 6px;
		}
		button {
			width: 90px;
			background: #625f5b;
			font-weight: 600;
			text-transform: uppercase;
			&:hover {
				background: darken(#625f5b, 5%);
			}
		}
	}
}

.best-grid {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: -20px;
}
.best-card {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 425px;
	margin: 0 auto 20px;
	padding-bottom: 55%;
	background-position: center;
	background-size: cover;
	background-color: $gray;
	color: #fff;
	@media (min-width: 768px) and (max-width: 991px) {
		padding-bottom: 75%;
	}

	.best-label {
		position: absolute;
		top: 15px;
		right: 0;
	}

	.best-inner {
		@extend .overlay-dark;
		@extend .transition;
		position: absolute;
		bottom: 0;
		left: 40px;
		right: 40px;
		max-width: 480px;
		padding: 0 5px;
		color: #fff;
		text-align: center;
		@media (max-width: 1024px) {
			left: 15px;
			right: 15px;
			max-width: 380px;
		}
		@media (max-width: 767px) {
			margin: auto;
		}
		
	}
	.best-title {
		margin: 0 0 5px;
		color: inherit;
	}
	.best-description {
		font-size: 17px;
		font-weight: 600;
		color: inherit;
		@media (max-width: 1024px) {
			font-size: 14px;
		}
	}
	.best-action {
		margin-top: 5px;
	}

	&:hover {
		.best-inner {
			@extend .overlay-light;
		}
		.best-title,
		.best-description {
			color: $default;
		}
		.best-action {
			@extend .btn-hover;
		}
	}
}
.best-card.best-card-hero {
	max-width: 100%;
	padding-bottom: 25.5%;
	@media (max-width: 1024px) {
		padding-bottom: 33.333%;
	}
	@media (max-width: 640px) {
		padding-bottom: 400px;
	}

	.best-label {
		top: initial;
		bottom: 25px;
		left: initial;
		right: 20px;
		@media (max-width: 1024px) {
			right: 15px;
			bottom: 15px;
		}
	}

	.best-inner {
		@extend .overlay-light;
		top: 40px;
		bottom: initial;
		left: 25px;
		right: initial;
		width: 40%;
		@media (max-width: 1024px) {
			top: 15px;
			left: 15px;
		}
		@media (max-width: 640px) {
			width: calc(100% - 30px);
		}
	}
	.best-title,
	.best-description {
		color: $default;
	}
	.best-description {
		@extend .h6;
		padding: 0 40px;
		@media (max-width: 1024px) {
			padding: 0 15px;
		}
	}

	.best-action {
		@extend .btn-hover;
		margin-top: 5px;
		padding-top: 7px;
		padding-bottom: 7px;
	}
}




.section-favorite {

}
.favorite-grid {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: -5px;
}

.favorite-card {
	position: relative;
	max-width: 425px;
	margin: 0 auto 20px;
	text-align: center;
	.favorite-link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.favorite-thumb {
		padding-bottom: 66%;
		background-position: center;
		background-size: cover;
		background-color: $dark-gray;
	}
	.favorite-inner {
		padding: 5px;
		background: #e8e8e8;
	}
	.favorite-title {
		margin: 0;
	}

	.favorite-description,
	.favorite-action {
		font-size: 18px;
		@media (max-width: 1024px) {
			font-size: 16px;
		}
	}

	.favorite-description {
		margin: 0 0 20px;
	}
	.favorite-action {
		font-weight: 700;
		color: $primary;
	}

	&:hover {
		.favorite-action {
			color: darken($primary, 5%);
		}
	}
}


.section-about {
	padding: 45px 0;
	background: $gray;
	p {
		margin-bottom: 30px;
	}

	.author-inner {
		font-size: 18px;
		text-align: center;
	}

	.author-title {
		margin: 0 0 40px;
	}
}