$heading-font: 'Open Sans', sans-serif;
$base-font: 'Open Sans', sans-serif;
$secondary-font: 'FuturaPT', sans-serif;

$default: #1d0f00;
$default-heading: #31271a;

$gray: #959493;
$dark-gray: #1d0f00;
$light-gray: #eef0f2;

$info: #4d6aa9;
$primary: #435ea5;
$dark-primary: #22262C;