.form-group.has-error .form-control, .form-group.has-error .input-group-addon {
  border-color: #dd4b39;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-group.has-error label {
  color: #dd4b39;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.reverse-img{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.plan2-dropdown-menu{
  &.active{
    display: block !important;
  }
}

.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .5s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}