.form-group.has-error .form-control,
.form-group.has-error .input-group-addon {
  border-color: #dd4b39;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-group.has-error label {
  color: #dd4b39;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.reverse-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.plan2-dropdown-menu {
  &.active {
    display: block !important;
  }
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.5s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

[v-cloak] {
  display: none;
}

.search-results {
  min-height: 500px;
}
.loading {
  position: relative;
}
.loading::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  opacity: 0.3;
  z-index: 100;
}
.loading-icon {
  display: none;
}

.loading .loading-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.slider_max_height_500 {
  max-height: 500px;
}

.img_width_100_percent {
  width: 100%;
}

.style-desc-container {
  margin-top: 35px;
  margin-bottom: 20px;
}

.style-desc-container__border {
  border: 0.5px #2f358f solid;
}

.style-desc-container__link {
  color: #2f358f;
}

.style-desc-container__img {
  max-height: 235px;
  overflow: hidden;
}

.sidebar-box {
  max-height: 165px;
  overflow: hidden;
  line-height: 23px;
  margin-bottom: 15px;
}

.placeholder-black::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.placeholder-black img,
.placeholder-black .media-body {
  z-index: 10;
}
.inspiration-slider.embed-responsive-4by3::before {
  padding-top: 83%;
}

a.carousel-inner {
  display: block;
}

.percent-70.embed-responsive-4by3::before {
  padding-top: 70%;
}

.search-mobile-filter {
  font-size: 16px;
  color: #000;
}

.search-mobile-filter .row {
  height: 65px;
}

.search-mobile-filter .bottom_border {
  border-bottom: 2px solid #696969;
}

.search-mobile-filter .left_border {
  border-left: 2px solid #696969;
}

.search-mobile-filter .qty {
  margin: 0;
  text-align: center;
  color: #224195;
  background: transparent;
  width: 30px;
}

.search-mobile-filter .buttons_round {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #000;
  font-size: 35px;
  font-weight: 300;
  color: #000;
  line-height: normal;
}
.search-mobile-filter .buttons_round.buttons_round_minus span {
  margin-bottom: 6px;
}

.mobile-home-search .row {
  margin: 0;
}

.px-2.home.mobileHeader {
  padding: 10px 0 !important;
}

.percent-69.embed-responsive-4by3::before {
  padding-top: 69%;
}

.media_z-index {
  z-index: 1;
}

.percent-60.embed-responsive-4by3::before {
  padding-top: 60%;
}

.fas.plan-heart {
  color: red;
}

.far.plan-heart {
  color: white;
}

@media (max-width: 600px) {
  .style-desc-container__img {
    margin-bottom: 20px;
  }
}

.about-page-title {
  padding: 20px 0;
  border-bottom: 2px solid #384a9f;
  border-top: 2px solid #384a9f;
  margin-bottom: 20px;
}

.about-page-desc {
  font-size: 1rem;
  line-height: 1.44rem;
}

.about-page-img-container {
  overflow: hidden;
  margin-top: 15px;
}

.about-page-sub-title {
  font-size: 1.5rem;
  margin-top: 15px;
}
.about-us-list {
  padding: 0;
  margin: 0;
  margin-top: 35px;
}
.about-us-item {
  margin-bottom: 30px !important;
}
.about-us-item-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.about-us-item-desc {
  font-size: 0.8rem;
  line-height: 1.4rem;
}

.dropdown-toggle.dropdown-toggle-search-mobile::after {
  display: none;
}
.dropdown-menu.dropdown-toggle-search-mobile {
  background-color: #231f20;
}

.dropdown-menu.dropdown-toggle-search-mobile a {
  color: #fff;
}

.home-page-search.home-mobile-search {
  position: initial;
  padding: 0;
}

.home-mobile-search table {
  width: 80%;
}

.home-mobile-search table th {
  padding: 25px 5px !important;
}

.home-mobile-search table input.center {
  border: 1px solid #ccc;
  margin: 0 10px;
}

.asp-basicsearch {
  width: 85%;
}
.asp-basicsearch tr td:nth-child(2) {
  text-align: center;
}

.asp-basicsearch input.center {
  margin: 0 13px;
  border: 1px solid #ccc;
}

@media (max-width: 600px) {
  .asp-basicsearch input.center {
    margin: 0 20px;
  }
}

.percent-82.embed-responsive-4by3::before {
  padding-top: 82%;
}

.p_title.center.font_16 a {
  color: #212529;
}

@media (max-width: 1024px) {
  .pref_bluelinks_outer .pref_builderform select {
    width: 55px;
  }
}

.builders {
  margin-top: 25px;
}
.builders .builder__item {
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.builder__img-container {
  padding-left: 0;
}

.builder__row {
  height: 100%;
}
.builder__desc-container {
  height: 100%;
}
.builder__desc {
  flex-grow: 1;
}
.builder__contact-container {
  padding: 0;
}

.builder__pagination {
  margin-top: 20px;
}

.builder__pagination .page-link {
  color: #f7941d;
}

.builder__pagination .page-item.active .page-link {
  background-color: hsl(33, 93%, 54%);
  border-color: #f7941d;
}

@media (max-width: 680px) {
  .builder__row {
    height: initial;
  }
  .builder__desc-container {
    padding-left: 0;
  }
}

.home-mobile-search input.center {
  width: 75px;
  height: 40px;
  font-size: 18px;
}

.home-mobile-search .sidebar-heading {
  margin-bottom: 15px;
}

.home-mobile-search .min_icon .fa-minus::before {
  font-size: 20px;
}

.home-mobile-search .max_icon .fa-plus::before {
  font-size: 20px;
}

.home-mobile-search input.qty {
  font-size: 20px;
}
